@model StudInfoModel.Faculty

@{
    ViewData["Title"] = "Edit Faculty";
}

<form method="post">

    <input asp-for="FacultyCode" hidden/>

    <div class="border p-3 mt-3">

        <div class="row mb-5">
            <h2>Edit Faculty</h2>
        </div>

        <div class="mb-2">
            <label asp-for="FacultyCode"></label>
            <input asp-for="FacultyCode" readonly class="form-control" />
            <span asp-validation-for="FacultyCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FacultyName"></label>
            <input asp-for="FacultyName" class="form-control" />
            <span asp-validation-for="FacultyName" class="text-danger"></span>
        </div>
        <div class="mb-2 text-end">
            <button type="submit" class="btn btn-primary" asp-controller="Faculty" asp-action="Update" style="width:150;">Update</button>
            <a class="btn btn-info" asp-controller="Faculty" asp-action="Index"  style="width:150;">Back to List</a>
        </div>


    </div>
</form>