<div class="container-fluid m-3">
    <div class="row mx-0">
        <div>
            <h2 class="mt-2 mb-4 text-center">StudInfo Management System</h2>
        </div>

        <label class="mt-2 text-center" style="font-style:italic" type="text">A robust student management info system</label>
        <div class="text-center">
            
            <img src="/images/grad.jpg" class="img-fluid w-50">
        </div>

    </div>
</div>






